In [1]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv

load_dotenv()
from kdutils.macro2 import *

In [2]:
method = 'aicso4'
g_instruments = 'rbb'
horizon = 1
category = 1
types = 'o2o'

In [3]:
dirs = os.path.join(base_path, method, g_instruments, 'merged')
filename = os.path.join(
        dirs, "{0}_{1}h_{2}_{3}.feather".format(types, horizon, "native", 'nofill'))

In [4]:
total_data = pd.read_feather(filename)
total_data.head()

,trade_time,code,tn001_5_10_1,tn001_10_15_1,tn001_5_10_0,tn001_10_15_0,tn002_5_1,tn002_10_1,tn002_5_0,tn002_10_0,...,rv013_25_10_15_0,rv014_75_5_10_1,rv014_75_10_15_1,rv014_75_5_10_0,rv014_75_10_15_0,rv014_25_5_10_1,rv014_25_10_15_1,rv014_25_5_10_0,rv014_25_10_15_0,nxt1_ret
0,2020-01-02 09:01:00,RB,1.459269,1.705448,1.134386,1.868720,373.237236,370.232301,371.061499,369.058288,...,0.000088,-8738.303356,-5272.875300,-5044.691111,-1236.293713,-8742.866846,-5423.672640,-5753.758,-1663.707111,0.000000
1,2020-01-02 09:02:00,RB,1.709210,1.693695,1.198046,1.925018,372.407656,370.326155,371.514711,369.187448,...,0.000070,-4412.101925,-4007.716335,-5943.635556,-1050.680744,-4416.398415,-4170.128379,-6674.810,-1295.260444,0.000279
2,2020-01-02 09:03:00,RB,1.913968,1.709833,1.275712,1.976607,371.249602,370.072944,371.571888,369.555548,...,0.000050,-1582.098821,-2853.830462,-6811.822222,-1302.287077,-1585.877193,-3018.604690,-7586.298,-1418.240889,0.000000
3,2020-01-02 09:04:00,RB,1.929378,1.731894,1.337522,2.019350,369.680853,369.431200,371.765958,369.505249,...,0.000032,1897.741643,-778.917688,-5393.817556,-897.584444,1894.668939,-941.614080,-6028.398,-935.389778,-0.000557
4,2020-01-02 09:05:00,RB,1.801669,1.743390,1.461727,2.035222,368.575697,368.873779,371.733260,369.514706,...,0.000009,3843.918763,917.423511,-2578.463556,-403.295111,3841.557069,765.128671,-3100.436,-403.295111,-0.001116

In [5]:
columns = [col for col in total_data.columns if col not in ['trade_time','code','nxt1_ret']]

In [6]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434695 entries, 0 to 434694
Columns: 849 entries, trade_time to nxt1_ret
dtypes: datetime64[ns](1), float64(847), object(1)
memory usage: 2.8+ GB

In [8]:
### 覆盖率要大于0.1
rate = (total_data[columns].isnull().sum() / total_data.shape[0])
rate = rate.sort_values(ascending=False)
filter1_columns = rate[rate > 0.0].index

In [12]:
total_data1 = total_data.drop(columns=filter1_columns)
total_data1.head()

,trade_time,code,tn001_5_10_1,tn001_10_15_1,tn001_5_10_0,tn001_10_15_0,tn002_5_1,tn002_10_1,tn002_5_0,tn002_10_0,...,rv013_75_10_15_1,rv013_25_5_10_1,rv013_25_10_15_1,rv014_75_5_10_1,rv014_75_10_15_1,rv014_25_5_10_1,rv014_25_10_15_1,rv014_25_5_10_0,rv014_25_10_15_0,nxt1_ret
0,2020-01-02 09:01:00,RB,1.459269,1.705448,1.134386,1.868720,373.237236,370.232301,371.061499,369.058288,...,-0.000147,-0.000176,-0.000071,-8738.303356,-5272.875300,-8742.866846,-5423.672640,-5753.758,-1663.707111,0.000000
1,2020-01-02 09:02:00,RB,1.709210,1.693695,1.198046,1.925018,372.407656,370.326155,371.514711,369.187448,...,-0.000147,-0.000176,-0.000071,-4412.101925,-4007.716335,-4416.398415,-4170.128379,-6674.810,-1295.260444,0.000279
2,2020-01-02 09:03:00,RB,1.913968,1.709833,1.275712,1.976607,371.249602,370.072944,371.571888,369.555548,...,-0.000147,-0.000176,-0.000071,-1582.098821,-2853.830462,-1585.877193,-3018.604690,-7586.298,-1418.240889,0.000000
3,2020-01-02 09:04:00,RB,1.929378,1.731894,1.337522,2.019350,369.680853,369.431200,371.765958,369.505249,...,-0.000147,-0.000176,-0.000071,1897.741643,-778.917688,1894.668939,-941.614080,-6028.398,-935.389778,-0.000557
4,2020-01-02 09:05:00,RB,1.801669,1.743390,1.461727,2.035222,368.575697,368.873779,371.733260,369.514706,...,-0.000147,-0.000176,-0.000071,3843.918763,917.423511,3841.557069,765.128671,-3100.436,-403.295111,-0.001116

In [18]:
### 重复行
total_data1.duplicated(subset=['trade_time','code']).sum()

0

1. 覆盖率处理
2. 重复值

In [17]:
filename = os.path.join(
        dirs, "{0}_{1}h_{2}_{3}.feather".format(types, horizon, "native", 'adequacy_1'))
filename

'/workspace/data/dev/kd/evolution/nn/aicso4/rbb/merged/o2o_1h_native_adequacy_1.feather'

In [20]:
total_data1.to_feather(filename)