In [1]:
import pdb, os, argparse, itertools
import pandas as pd
import numpy as np
from pymongo import InsertOne, DeleteOne
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from kdutils.mongodb import MongoDBManager
from lib.aux002 import *

/workspace/worker/env/lingua/lib/python3.8/site-packages/Finance_Jindowin-1.5.4-py3.8.egg/jdw/__init__.py:11: UserWarning: if use distributed calculating, please configure MQ_URL
  warnings.warn('if use distributed calculating, please configure MQ_URL')
/workspace/worker/env/lingua/lib/python3.8/site-packages/Finance_Jindowin-1.5.4-py3.8.egg/jdw/__init__.py:15: UserWarning: if use distributed calculating, please configure NTN_URL
  warnings.warn('if use distributed calculating, please configure NTN_URL')
/workspace/worker/env/lingua/lib/python3.8/site-packages/Finance_Jindowin-1.5.4-py3.8.egg/jdw/__init__.py:19: UserWarning: if use memory database, please configure KN_MG
  warnings.warn('if use memory database, please configure KN_MG')
/workspace/worker/env/lingua/lib/python3.8/site-packages/Finance_Jindowin-1.5.4-py3.8.egg/jdw/__init__.py:27: UserWarning: if use trader, please configure ATL_URL
  warnings.warn('if use trader, please configure ATL_URL')
/workspace/worker/env/lingua/lib/python3.8/site-packages/Finance_Jindowin-1.5.4-py3.8.egg/jdw/__init__.py:31: UserWarning: if use trader, please configure IREY_URL
  warnings.warn('if use trader, please configure IREY_URL')

In [3]:
begin_date1 = '2025-01-02'
end_date1 = '2025-02-01'

In [4]:
returns1 = fetch_returns1(begin_date=begin_date1,
                                 end_date=end_date1,
                                 codes=['IM'])
returns1.head()

,,nxt1_ret_1h,nxt1_ret_2h,nxt1_ret_3h,nxt1_ret_4h,nxt1_ret_5h
trade_time,code,,,,,
2025-01-02 09:30:00,IM,-0.002609,-0.003047,-0.004443,-0.003910,-0.003380
2025-01-02 09:31:00,IM,-0.000438,-0.001834,-0.001301,-0.000771,-0.000353
2025-01-02 09:32:00,IM,-0.001396,-0.000863,-0.000333,0.000085,0.001055
2025-01-02 09:33:00,IM,0.000533,0.001063,0.001481,0.002450,0.003588
2025-01-02 09:34:00,IM,0.000530,0.000948,0.001918,0.003055,0.002306

In [5]:
returns2 = fetch_returns2(begin_date=begin_date1,
                                 end_date=end_date1,
                                 codes=['IM'])
returns2.head()

,,nxt1_ret_1h,nxt1_ret_2h,nxt1_ret_3h,nxt1_ret_4h,nxt1_ret_5h
trade_time,code,,,,,
2025-01-02 09:30:00,IM,-0.002605,-0.003042,-0.004433,-0.003902,-0.003374
2025-01-02 09:31:00,IM,-0.000438,-0.001833,-0.001300,-0.000771,-0.000353
2025-01-02 09:32:00,IM,-0.001395,-0.000863,-0.000333,0.000085,0.001055
2025-01-02 09:33:00,IM,0.000533,0.001064,0.001482,0.002453,0.003594
2025-01-02 09:34:00,IM,0.000530,0.000948,0.001919,0.003059,0.002308

In [6]:
returns2['nxt1_ret_1h']

returns1.groupby('code').apply(lambda x: x['nxt1_ret_1h'].autocorr(lag=1)).mean()

0.16007562172660653

In [7]:
returns1.groupby('code').apply(lambda x: x['nxt1_ret_2h'].autocorr(lag=1)).mean()

0.5632627418209767

In [8]:
returns1.groupby('code').apply(lambda x: x['nxt1_ret_3h'].autocorr(lag=1)).mean()

0.7161296426420235

In [9]:
returns1.groupby('code').apply(lambda x: x['nxt1_ret_4h'].autocorr(lag=1)).mean()

0.7899745023088793

In [10]:
returns1.groupby('code').apply(lambda x: x['nxt1_ret_5h'].autocorr(lag=1)).mean()

0.8374793320424713

In [13]:
time_index = returns1.index.get_level_values('trade_time')
mask = time_index.minute % 5 == 0
returns1_filtered = returns1[mask]
returns1_filtered

,,nxt1_ret_1h,nxt1_ret_2h,nxt1_ret_3h,nxt1_ret_4h,nxt1_ret_5h
trade_time,code,,,,,
2025-01-02 09:30:00,IM,-0.002609,-0.003047,-0.004443,-0.003910,-0.003380
2025-01-02 09:35:00,IM,0.000418,0.001387,0.002524,0.001775,0.002515
2025-01-02 09:40:00,IM,0.000066,-0.000178,-0.002595,0.000030,0.000544
2025-01-02 09:45:00,IM,0.000581,0.000539,-0.000253,-0.001081,0.001263
2025-01-02 09:50:00,IM,0.000578,0.000647,0.000483,0.000644,0.000585
...,...,...,...,...,...,...
2025-01-27 14:35:00,IM,0.000499,0.000708,0.000335,-0.000235,-0.000071
2025-01-27 14:40:00,IM,-0.000386,-0.000362,-0.000996,-0.001727,-0.001882
2025-01-27 14:45:00,IM,-0.000206,-0.000680,-0.000449,-0.000230,0.000913
2025-01-27 14:50:00,IM,-0.000598,-0.001487,-0.001544,-0.001362,-0.001224
2025-01-27 14:55:00,IM,-0.000712,-0.002380,-0.003238,-0.003179,NaN

In [14]:
returns1_filtered.groupby('code').apply(lambda x: x['nxt1_ret_5h'].autocorr(lag=1)).mean()

0.05541271388055188