In [3]:
import pandas as pd
import os
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
from dotenv import load_dotenv

load_dotenv()

True

In [4]:
from lib.iux002 import load_programs

In [5]:
method = 'cicso0'
instruments = 'ims'
period = 15
task_id = '200037'
session = '202511111'#'202510217'
category = 'eligible'

In [6]:
programs_data = load_programs(method=method, instruments=instruments, period=period, 
            task_id=task_id, session=session, 
            category='valid')
programs_data.head()

,name,formual,final_fitness
0,ultron_1011330578749430,"MMASSI(120,MARGMAX(90,MNPOSITIVE(240,RSI(240,RSI(240,MVHF(10,'money'))))),MDEMA(30,'twap'))",0.134002
1,ultron_1023690571256408,"RELU(MMASSI(120,MARGMAX(15,RSI(240,MVHF(10,MVHF(10,'money')))),MDEMA(30,'twap')))",0.133785
2,ultron_1027171705340724,"MMASSI(120,MDEMA(30,MADiff(90,RSI(240,MVHF(10,'money')))),MDEMA(30,'twap'))",0.133494
3,ultron_1015821814091351,"MMASSI(120,MQUANTILE(60,RSI(240,MVHF(10,'money'))),MDEMA(30,'twap'))",0.133467
4,ultron_1004616332283764,"MMASSI(120,RSI(240,MVHF(10,'money')),MDEMA(30,MDIFF(240,'twap')))",0.133463

In [39]:
import re
search_string = "MT3(90,DELTA"
escaped_string = re.escape(search_string)
programs_data['is_target'] = programs_data['formual'].str.contains(escaped_string, na=False)
sorted_df = programs_data[programs_data['is_target']]
sorted_df#.head()

,name,formual,final_fitness,is_target
96,ultron_1008894818466398,"MT3(90,DELTA(5,MT3(90,MMaxDiff(120,'twap'))))",0.035699,True
110,ultron_1075666076194511,"MT3(90,MSUM(30,MT3(90,DELTA(15,'smart_tick_in'))))",0.028393,True

In [5]:
load_programs(method=method, instruments=instruments, period=period, task_id=task_id,
              session=session, category='valid').loc[20]['formual']

"MA(5,MAPOSITIVE(120,MA(5,MQUANTILE(90,MA(5,MA(5,MA(5,MA(5,MQUANTILE(90,'twap')))))))))"