In [11]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
from lib.iux001 import fetch_data, aggregation_data
from lib.aux001 import calc_expression

In [3]:
method = 'cicso0'
instruments = 'ims'
period = 15
task_id = 200037
datasets = ['train', 'val', 'test']

In [4]:
total_data = fetch_data(method=method,
                        instruments=instruments,
                        datasets=datasets,
                        task_id=str(task_id))

./records/cicso0/ims/level2/train_data.feather
./records/cicso0/ims/level2/val_data.feather
./records/cicso0/ims/level2/test_data.feather
./records/cicso0/ims/returns/train_returns.feather
./records/cicso0/ims/returns/val_returns.feather
./records/cicso0/ims/returns/test_returns.feather

In [5]:
total_data.tail()

,trade_time,symbol,open,high,low,close,volume,money,twap,pct_change,...,realized_volatility,code,nxt1_ret_1h,nxt1_ret_2h,nxt1_ret_3h,nxt1_ret_5h,nxt1_ret_10h,nxt1_ret_15h,time_weight,equal_weight
152873,2025-03-12 14:56:00,IM2503,6509.4,6512.4,6509.4,6511.8,837,1.089911e+09,6510.896667,0.000369,...,0.000420,IM,0.000668,0.000696,0.000093,-0.000430,-0.003487,-0.007669,0.000581,0.000486
152874,2025-03-12 14:57:00,IM2503,6512.4,6516.6,6511.6,6516.2,1021,1.330119e+09,6513.691667,0.000584,...,0.000469,IM,0.000029,-0.000575,-0.001711,-0.000962,-0.005783,-0.009878,-0.000463,-0.000753
152875,2025-03-12 14:58:00,IM2503,6516.4,6520.0,6516.2,6518.8,993,1.294511e+09,6517.938333,0.000368,...,0.000476,IM,-0.000604,-0.001740,-0.001126,-0.001057,-0.006718,-0.009747,-0.001070,-0.001157
152876,2025-03-12 14:59:00,IM2503,6518.8,6520.8,6514.8,6516.0,756,9.855710e+08,6518.490000,-0.000430,...,0.000497,IM,-0.001137,-0.000523,-0.000388,-0.002541,-0.006189,-0.008376,-0.000807,-0.000682
152877,2025-03-12 15:00:00,IM2503,6516.2,6516.4,6513.0,6514.8,1105,1.439680e+09,6514.348333,-0.000215,...,0.000620,IM,0.000614,0.000749,0.000683,-0.001370,-0.004606,-0.007579,0.000670,0.000682

In [6]:
expression = "WMA(2,RSI(3,MDPO(4,'twap')))"

In [7]:
factor_data = calc_expression(expression=expression,
                              total_data=total_data.set_index('trade_time'))

In [8]:
factor_data.dropna()

                trade_time  transformed code
3      2022-07-25 09:35:00     0.148217   IM
4      2022-07-25 09:36:00     0.516454   IM
5      2022-07-25 09:37:00    40.084266   IM
6      2022-07-25 09:38:00    19.931547   IM
7      2022-07-25 09:39:00    21.268772   IM
...                    ...          ...  ...
152872 2025-03-12 14:56:00    71.441928   IM
152873 2025-03-12 14:57:00    94.470770   IM
152874 2025-03-12 14:58:00   100.000000   IM
152875 2025-03-12 14:59:00    53.886318   IM
152876 2025-03-12 15:00:00    16.940188   IM

[147657 rows x 3 columns]

In [10]:
factor_data

                trade_time  transformed code
0      2022-07-25 09:32:00          NaN   IM
1      2022-07-25 09:33:00          NaN   IM
2      2022-07-25 09:34:00          NaN   IM
3      2022-07-25 09:35:00     0.148217   IM
4      2022-07-25 09:36:00     0.516454   IM
...                    ...          ...  ...
152872 2025-03-12 14:56:00    71.441928   IM
152873 2025-03-12 14:57:00    94.470770   IM
152874 2025-03-12 14:58:00   100.000000   IM
152875 2025-03-12 14:59:00    53.886318   IM
152876 2025-03-12 15:00:00    16.940188   IM

[152877 rows x 3 columns]

In [14]:
factor_data[np.isnan(factor_data['transformed'])]

                trade_time  transformed code
0      2022-07-25 09:32:00          NaN   IM
1      2022-07-25 09:33:00          NaN   IM
2      2022-07-25 09:34:00          NaN   IM
38     2022-07-25 10:10:00          NaN   IM
39     2022-07-25 10:11:00          NaN   IM
...                    ...          ...  ...
152829 2025-03-12 14:13:00          NaN   IM
152835 2025-03-12 14:19:00          NaN   IM
152841 2025-03-12 14:25:00          NaN   IM
152860 2025-03-12 14:44:00          NaN   IM
152865 2025-03-12 14:49:00          NaN   IM

[5220 rows x 3 columns]

In [17]:
factor_data.set_index('trade_time').loc['2025-03-12 14:13:00':].head(10)

                     transformed code
trade_time
2025-03-12 14:13:00          NaN   IM
2025-03-12 14:14:00    10.682558   IM
2025-03-12 14:15:00    47.132286   IM
2025-03-12 14:16:00    45.323609   IM
2025-03-12 14:17:00    21.361498   IM
2025-03-12 14:18:00     4.573722   IM
2025-03-12 14:19:00          NaN   IM
2025-03-12 14:20:00    38.126955   IM
2025-03-12 14:21:00    84.693601   IM
2025-03-12 14:22:00    85.408524   IM

In [42]:
total_data.set_index('trade_time').loc['2025-03-12 14:10:00':'2025-03-12 14:15:00']['twap']

trade_time
2025-03-12 14:10:00    6567.252101
2025-03-12 14:11:00    6566.271186
2025-03-12 14:12:00    6565.745763
2025-03-12 14:13:00    6564.924786
2025-03-12 14:14:00    6564.622034
2025-03-12 14:15:00    6564.939823
Name: twap, dtype: float64

In [37]:
exp1 = "RSI(3,MDPO(4,'twap'))"
f1 = calc_expression(expression=exp1,
                              total_data=total_data.set_index('trade_time'))

In [38]:
f1.set_index('trade_time').loc['2025-03-12 14:09:00':'2025-03-12 14:15:00']

                     transformed code
trade_time
2025-03-12 14:09:00    90.150296   IM
2025-03-12 14:10:00    60.494374   IM
2025-03-12 14:11:00          NaN   IM
2025-03-12 14:12:00          NaN   IM
2025-03-12 14:13:00          NaN   IM
2025-03-12 14:14:00    16.023836   IM
2025-03-12 14:15:00    62.686511   IM

In [39]:
from ultron.factor.genetic.geneticist.operators import calc_factor

In [40]:
f2 = calc_factor(expression=exp1,
                              total_data=total_data.set_index('trade_time'),
                              key='code',
                              indexs=[])

In [41]:
f2.loc['2025-03-12 14:09:00':'2025-03-12 14:15:00']

                     transformed code
trade_time
2025-03-12 14:09:00    90.150296   IM
2025-03-12 14:10:00    60.494374   IM
2025-03-12 14:11:00     0.000000   IM
2025-03-12 14:12:00     0.000000   IM
2025-03-12 14:13:00     0.000000   IM
2025-03-12 14:14:00    16.023836   IM
2025-03-12 14:15:00    62.686511   IM

In [44]:
exp3 = "MDPO(4,'twap')"
f3 = calc_expression(expression=exp3,
                              total_data=total_data.set_index('trade_time'))

In [46]:
f3.set_index('trade_time').loc['2025-03-12 14:09:00':'2025-03-12 14:15:00']

                     transformed code
trade_time
2025-03-12 14:09:00     3.738283   IM
2025-03-12 14:10:00     3.266881   IM
2025-03-12 14:11:00     0.655254   IM
2025-03-12 14:12:00    -0.292313   IM
2025-03-12 14:13:00    -0.748299   IM
2025-03-12 14:14:00    -0.480481   IM
2025-03-12 14:15:00     0.017756   IM